/*fancy definitely not inspired button type links*/
.btn {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  padding: 6px 12px;
  border-radius: 6px;

}
.tallhr{
  height:20px;
  background-color: #49111c;
}
/*made a color scheme using cooler, I think it looks alright. my brother disagrees*/
header{
  margin:auto;
  background-color: #49111c;
  width: 350px;
  height: 175px;
  border-radius: 100px / 50px;
}
body{
  background-color: #0a0908;
  color: #f2f4f3;
}
footer{
  background-color: #49111c;
  text-align: center;
  font-size:
}
header > nav, header > h2, header > h1{
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
/*i like roboto only want it on main page though*/
header > h2{
  text-decoration: underline #34b4eb;
  font-style: italic;
}
article{
  background-color: #5e503f;
  font-family: monospace, Times, serif;
}
ul,ol{
  list-style-position: inside;
}

a:link {
  color: #f2f4f3;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: yellow;
}

/* selected link */
a:active {
  color: blue;
}
